
body div#PopupSignupForm_0 div.mc-modal {
	top: 80px;
}

.page-curriculum .container .row h2 {
  text-align: left;
}
.page-curriculum .container .row div.curriculum ul {
  margin-left: 60px
}
.page-curriculum .container .row div.curriculum {
  margin-left: 80px;
}

#clock-label {
  margin-top: 70px;
}
#clock {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.course-container {
	text-align: center;
	margin-bottom: 50pt;
}
.course-container div.row.course-row {
	margin-top: 15pt;
	margin-bottom: 15pt;
}

.pages.page-partners#page-partners div.center {
  margin-bottom: 40pt;
  margin-top: 40pt;
}